body {
  background-color: rgb(227, 227, 114);
}

h1 {
  color: purple;
  font-size: 44px;
  text-align: center;
}

ul {
  list-style-type: none;
  background-color: pink;
  padding: 1rem;
  display: flex;
  border: solid 2px blueviolet;
  font-size: 16px;
}

li {
  border: solid 1 px blueviolet;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
}
}

.single {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 22px;
  font-weight: 600;
}

.pupPic {
  height: 30%;
  width: 30%;
}

#details {
  font-family: cursive;
}

#backToList a {
  font-size: 18px;
  font-family: verdana;
  font-style: italic;
}
