body {
  background-color: rgb(227, 227, 114);
}

h1 {
  color: purple;
  font-size: 44px;
  text-align: center;
}

.selected {
  border: solid 2px rgb(117, 32, 32);
}

nav {
  background-color: pink;
  padding: 1rem;
  display: flex;
}

nav a {
  color: forestgreen;
  padding: 1rem;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
}
}
.pupPic {
  display: flex;
  height: 30vh;
  width: 30vh;
}

#details {
  font-family: cursive;
}
